* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins-Regular;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"), url(../utils/Poppins-Regular.ttf) format(
    "opentype");
}